node_modules
package-lock.json
symbol
undefined
**/*.zip
**/*.rar
*.log
*.jar
.idea/
TEST*.xml
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
.vscode/
*.env