@font-face {
	font-family: ABCFavoritExtended;
	font-display: swap;
	src: url("../fonts/ABCFavoritExtended-Light.woff2") format("woff2"), url("../fonts/ABCFavoritExtended-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: ABCFavoritExtended;
	font-display: swap;
	src: url("../fonts/ABCFavoritExtended-Bold.woff2") format("woff2"), url("../fonts/ABCFavoritExtended-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: ABCFavoritExtended;
	font-display: swap;
	src: url("../fonts/ABCFavoritExtended-Book.woff2") format("woff2"), url("../fonts/ABCFavoritExtended-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ABCFavoritExtended;
	font-display: swap;
	src: url("../fonts/ABCFavoritExtended-Regular.woff2") format("woff2"), url("../fonts/ABCFavoritExtended-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ABCFavoritExtended;
	font-display: swap;
	src: url("../fonts/ABCFavoritExtended-Medium.woff2") format("woff2"), url("../fonts/ABCFavoritExtended-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}